@import url('https://rsms.me/inter/inter.css');

* {
    box-sizing: border-box;
    font-family: 'Inter var', 'Inter', 'Inter V', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', system-ui, sans-serif;
}

body {
    font-size: 15px;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    user-select: none;
    -webkit-user-select: none;
    width: 100%;
}

:root {
    --accent: #0056F5;
    --accent-text: #004FE1;
}

.container {
    display: grid;
    grid-template-rows: 60px calc(100vh - (60px + 45px)) 45px;
}

header {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(232, 238, 241, 0.4);
    padding-inline: 30px;
}

header>div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.popups {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    background: rgba(0, 0, 0, .3);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popups .popup {
    background: #fff;
    z-index: 120;
    padding: 0px;
    border-radius: 18px;
    border: 1px solid rgba(232, 238, 241, 0.3);
    box-shadow: 0 15px 40px rgba(100, 100, 100, .5);
    text-align: center;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}

.popup-header,
.popup-body,
.popup-footer {
    padding: 15px;
    width: 100%;
}

input {
    border-radius: 8px;
    border: 2px solid rgba(232, 238, 241, 0.6);
    padding: 10px;
    outline: none;
    font-size: inherit;
    height: 42px;
    display: inline-flex;
    align-items: center;
    transition: .15s;
}

input:focus,
input:hover {
    background: #F9FAFF;
    border-color: #F9FAFF;
    transition: .15s;
    outline: none;
}

input:focus {
    border-radius: 8px 8px 4px 4px;
    border-bottom: 3.5px solid var(--accent);
    transition: .15s;
}

button {
    border-radius: 8px;
    border: none;
    padding: 6px 18px;
    outline: none;
    background: #F9FAFF;
    transition: .15s;
    color: #787980;
    font-size: inherit;
    font-weight: 500;
    height: 42px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

button svg {
    display: flex;
}


button:hover {
    background: #F4F6FB;
    transition: .15s;
}

.popup input {
    width: 100%;
}

.statTag {
    --bg-color: #fafafa;
    --fg-color: #303030;
    background: var(--bg-color);
    color: var(--fg-color);
    padding: 8px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: baseline;
    font-weight: 500;
}

svg [fill] {
    fill: currentColor;
}

svg [stroke] {
    stroke: currentColor;
}

.statTag svg [fill] {
    fill: var(--fg-color);
}

.statTag svg [stroke] {
    stroke: var(--fg-color);
}

.statTag .icon {
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

.statTag.incorrect {
    --bg-color: #FFECF2;
    --fg-color: #CB1556;
}

.statTag.time {
    --bg-color: #EEF4FF;
    --fg-color: #0054CC;
}

.box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #fff;
    background: rgba(232, 238, 241, 0.2);
    border-radius: 20px;
    padding: 20px;
    max-width: calc(100vw - 100px);
    overflow-x: hidden;
    width: 100%;
}

.box .character {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    height: 40px;
    width: 30px !important;
    transition: .2s;
    border-radius: 7px;
    padding-inline: 3px;
    min-width: 30px;
}

.box .character:first-child {
    padding-left: 5px;
}

.box .character:last-child {
    padding-right: 5px;
}

.msgRef {
    justify-content: flex-end;
}

main {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.inputCt {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    width: 100%;
}

.popup-header {
    border-bottom: 1px solid rgba(232, 238, 241, 0.3);
    width: 100%;
    text-align: left;
    font-weight: 550;
    padding: 9px 14px 9px 22px;
    font-size: 1.1em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.popup-header .sideButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.popup-header .sideButtons button {
    padding: 6px;
    width: 42px;
    height: 42px;
    background: none;
}

.popup-header .sideButtons button:hover {
    background: #F4F6FB;
}

.popup-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    gap: 15px;
    width: 100%;
    border-top: 1px solid rgba(232, 238, 241, 0.3);
}

.popup-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 22px;
    gap: 24px;
}

.character.correct {
    background: #D5FFE6;
    color: #398B64;
}

.character.incorrectChar {
    background: #FFE9EC;
    color: #AB0F34;
}

.character.active {
    background: #E7F5FF;
    flex-direction: column;
    position: relative;
    margin-left: 10px;
    padding-inline: 7px;
    border-radius: 7px 7px 0 0;
    color: #1A5BA8;
}

.character.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 3px;
    background: var(--accent);
    animation: blink .9s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#playerNameOp {
    border: none;
    font-size: 1.2em;
    font-weight: 500;
    padding: 7px;
    background: none;
    border-radius: 5px;
    transition: .2s;
}

#playerNameOp:hover {
    box-shadow: 0 7px 20px -4px rgba(100, 100, 100, .16);
    background: #ffffff88;
    transition: .2s;
    width: 300px;
    text-overflow: ellipsis;
}

#playerNameOp:focus {
    border-bottom: 3px solid var(--accent);
    border-radius: 5px 5px 3px 3px;
    box-shadow: 0 7px 20px -4px rgba(100, 100, 100, .25);
    background: #ffffff88;
    transition: .2s;
    width: 300px;
    text-overflow: ellipsis;
}

.nameArea {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nameArea svg {
    opacity: .3;
    width: 1.2rem;
    height: 1.2rem;
}

.restart {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    border-radius: 5px;
    border: none;
    background: none;
}

.restart:hover {
    background: rgba(0, 0, 0, .0373);
}

.main {
    display: flex;
    gap: 50px;
    background: #f9fbfd;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 30px 50px;
    height: 100%;
    animation: popup .4s linear;
}

@keyframes popup {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
}

.main>[class*=meta-] {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main>.meta-1 {
    width: 500px !important;
    gap: 10px;
}

.main>.meta-2 {
    width: 380px !important;
}

.completionOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.graphset {
    width: 100%;
    height: 100%;
}

.graph {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    --size: 100%;
}

.graph .graph-content {
    position: absolute;
    top: 0%;
    left: 0%;
    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 7px;
    z-index: 2;
}

.graph svg {
    width: var(--size);
    height: var(--size);
    position: absolute;
    top: 0;
    left: 0;
}

.graph #chart-score {
    transition: stroke-dashoffset 1s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    animation: prog .8s cubic-bezier(0.19, -0.18, 0.44, 0.96);
}

.graph-content .score {
    font-size: 3em;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.graph-content .subscore {
    font-size: 1.3em;
}

@keyframes prog {
    from {
        stroke-dashoffset: 301;
    }
}

.completeTHeading {
    width: 100%;
    text-align: center;
    font-weight: 600;
}

.green {
    color: #56FE99;
}

.red {
    color: #f93562;
}

.graph svg.low #chart-score {
    stroke: #ff496c;
}

.graph svg.low #chart-background {
    stroke: #fcb4c2;
}

.toolbar {
    list-style-type: none;
    margin: 0;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    padding: 0;
    padding-left: 5px;
}

.toolbarItem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.toolbarItem button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    border-radius: 7px;
    color: #000;
    width: 42px;
    height: 42px;
    padding: 6px;
}

.toolbarItem button svg {
    width: 24px;
    height: 24px;
}

.toolbarItem button:hover {
    background: rgba(232, 238, 241, 0.25);
}

.toolbarItem button.active {
    background: var(--accent);
    color: #fff;
}

.meta-2 .imgGroup img {
    width: 100%;
    border-radius: 10px;
    transition: .3s;
    box-shadow: 0 10px 20px rgba(100, 100, 100, .16);
}

.meta-2 .imgGroup {
    border-radius: 6px;
    position: relative;
    display: flex;
}

.meta-2 .imgGroup caption {
    position: absolute;
    margin: 5px;
    left: 0;
    bottom: 0;
    color: #fff;
    padding: 10px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background: #00000077;
    font-size: 13px;
    backdrop-filter: blur(5px);
    transition: .3s;
}

.meta-2 h2 {
    margin-bottom: 0;
    font-weight: 600;
}

.meta-2 .imgGroup img:hover {
    transform: scale(1.5) translateY(-50px);
    transition: .3s;
    bottom: 10px;
    border-radius: 3px;
    z-index: 99;
}

.meta-2 .imgGroup img:hover+caption {
    opacity: 0;
    transition: .2s;
    z-index: 100;
}

.meta-2 p {
    overflow-y: auto;
    font-size: 15px;
}

.meta-1 .playAgain {
    position: absolute;
    bottom: 0;
    right: 0;
    color: var(--accent);
    text-decoration: none;
    margin: 20px;
    transition: .15s;
}

.meta-1 .playAgain:hover {
    opacity: .6;
    transition: .15s;
}

.meta-1 {
    position: relative;
}

body.dark,
body.dark .main {
    background-color: #1f2637;
    color: #fff;
    --accent: #0088ff;
}

body.dark header {
    background-color: #2f374ac1;
}

body.dark .box,
body.dark .main [class*=meta-] {
    background-color: #2f374ac1;
}

body.dark .box {
    box-shadow: 0 7px 20px -4px rgb(0 0 0 / 8%)
}

input {
    color: inherit;
}

body.dark .toolbar {
    box-shadow: 0 7px 20px -4px rgb(0 0 0 / 16%);
    background: #22283677;
    border-color: #00000025;
    color: #fff;
}

body.dark * {
    color: #fff;
}

body.dark #playerNameOp:hover {
    box-shadow: 0 7px 20px -4px rgb(0 0 0 / 16%);
    background: #22283688;
}

body.dark #playerNameOp:focus {
    background: #22283688;
    box-shadow: 0 7px 20px -4px rgb(0 0 0 / 25%);
}

body.dark .character.correct {
    background: #56FE99aa;
}

body.dark .character.incorrectChar {
    background: #ff9ab2aa;
}

body.dark .character.active {
    background: #9aebffaa;
}

body.dark .character.active::after {
    background: #136377;
}

body.dark .graph svg.low #chart-background {
    stroke: #f94a6d66;
}

body.dark .meta-2 .imgGroup img {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .16);
}

body.dark .popups {
    background: #2a324788;
}

body.dark .popups .popup {
    border: 1px solid #0001;
    background: #1f2637;
    box-shadow: 0 15px 40px rgb(0 0 0 / 2%);
}

body.dark .popup button,
body.dark .popup input {
    background: #2f374ac1;
    border-color: rgb(117, 117, 117, .2);
}

body.dark .popup button:hover {
    background: var(--accent);
}

footer {
    border-top: 1px solid rgba(232, 238, 241, 0.4);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    gap: 10px;
    height: 100%;
    width: 100%;
    margin: 0;
}

footer>ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    margin: 0;
    list-style-type: none;
}

footer .footerLink {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    gap: 3px;
    border-radius: 7px;
    transition: .15s;
}

footer .footerLink:hover {
    background: rgba(232, 238, 241, 0.4);
    transition: .15s;
}

.btn-primary {
    color: #fff;
    background: var(--accent);
}

.btn-primary:hover {
    color: #fff;
    background: var(--accent-text);
}