@import url('https://rsms.me/inter/inter.css');

* {
    box-sizing: border-box;
    font-family: 'Inter var', 'Inter', 'Inter V', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', system-ui, sans-serif;
}

body {
    font-size: 15px;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    user-select: none;
    -webkit-user-select: none;
    width: 100%;
    transition: all .15s ease-in-out;

    --accent: #0056F5;
    --accent-text: #004FE1;
    --subtitle: #6F767A;
    --text-red: #DD1948;
    --red: #F92457;
    --text-green: #0CE563;
    --green: #12FF8D;
    --border-color: 232, 238, 241;
    --orange: #FFBD3D;
    --text-orange: #FF8A00;

    --red-accent: #FF2F61;
    --gold-accent: #FFC120;
    --green-accent: #75FF20;
    --turquoise-accent: #14C7FF;
    --blue-accent: #0056F5;
    --magenta-accent: #FF00E5;
    --black-accent: #2C343E;
}

body.dark {
    --border-color: 74, 85, 110;
    background: #1f2637;
    color: #fcfcfc;

    --subtitle: #A0AAB1;
    --accent: #4882ED;
    --accent-text: #4681EE;
    --text-red: #FF7294;
    --red: #FF5E84;
    --text-green: #5FE996;
    --green: #3DFFA2;
    --orange: #FFC75B;
    --text-orange: #FFB660;

    --red-accent: #FF5981;
    --gold-accent: #FFD058;
    --green-accent: #A3FF6B;
    --turquoise-accent: #64DAFF;
    --blue-accent: #4882ED;
    --magenta-accent: #FF65F0;
    --black-accent: #5e6b7c;
}

body.dark .panel-ct {
    background: rgba(0, 0, 0, 0.3);
}

body.dark .panel {
    background: #1F2637;
    box-shadow: -10px 0px 60px rgba(0, 0, 0, 0.3);
}

body.dark input:focus,
body.dark input:hover,
body.dark .btn {
    background: #384657;
    border-color: #384657;
}

body.dark input:focus {
    border-bottom-color: var(--accent);
}

body.dark .touchKeyboardBtn {
    background: rgb(62, 70, 80);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}
body.dark .character.correct {
    background: #B3F1CC;
    color: #518069;
}
body.dark .character.incorrectChar {
    background: #EBB0B7;
    color: #905858;
}
body.dark .character.active {
    background: #A9D5E8;
    color: #46768B;
}
body.dark .character.active::after {
    background: rgb(0, 116, 182, .3);
}

.container {
    display: grid;
    grid-template-rows: 60px calc(100vh - (60px + 45px)) 45px;
}

header {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(var(--border-color), 0.4);
    padding-inline: 30px;
}

header>div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.popups {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    background: rgba(0, 0, 0, .3);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popups .popup {
    background: #fff;
    z-index: 120;
    padding: 0px;
    border-radius: 18px;
    border: 1px solid rgba(var(--border-color), 0.3);
    box-shadow: 0 15px 40px rgba(100, 100, 100, .5);
    text-align: center;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}

.popup-header,
.popup-body,
.popup-footer {
    padding: 15px;
    width: 100%;
}

input {
    border-radius: 8px;
    border: 2px solid rgba(var(--border-color), 0.6);
    padding: 10px;
    outline: none;
    font-size: inherit;
    height: 42px;
    display: inline-flex;
    align-items: center;
    transition: .15s;
    background: none;
}

input:focus,
input:hover {
    background: #F9FAFF;
    border-color: #F9FAFF;
    transition: .15s;
    outline: none;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="search"]:focus {
    border-radius: 8px 8px 4px 4px;
    border-bottom: 3.5px solid var(--accent);
    transition: .15s;
}

button {
    border-radius: 8px;
    border: none;
    padding: 6px 12px;
    outline: none;
    background: #F9FAFF;
    transition: .15s;
    color: #787980;
    font-size: inherit;
    font-weight: 500;
    height: 42px;
    min-width: fit-content;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

button svg {
    display: flex;
}


button:hover {
    background: #F4F6FB;
    transition: .15s;
}

.popup input {
    width: 100%;
}

.statTag {
    --bg-color: #fafafa;
    --fg-color: #303030;
    background: var(--bg-color);
    color: var(--fg-color);
    padding: 8px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: baseline;
    font-weight: 500;
}

svg [fill] {
    fill: currentColor;
}

svg [stroke] {
    stroke: currentColor;
}

.statTag svg [fill] {
    fill: var(--fg-color);
}

.statTag svg [stroke] {
    stroke: var(--fg-color);
}

.statTag .icon {
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

.statTag.incorrect {
    --bg-color: #FFECF2;
    --fg-color: #CB1556;
}

.statTag.time {
    --bg-color: #EEF4FF;
    --fg-color: #0054CC;
}

.box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #fff;
    background: rgba(var(--border-color), 0.2);
    border-radius: 20px;
    padding: 20px;
    max-width: calc(100vw - 100px);
    overflow-x: hidden;
    width: 100%;
}

.box .character {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    height: 40px;
    width: 40px !important;
    transition: .2s;
    border-radius: 7px;
    padding-inline: 3px;
    min-width: 40px;
    font-family: 'SF Mono', 'Monaco', 'Consolas', monospace;
    font-weight: normal;
}

.box .character:first-child {
    padding-left: 5px;
}

.box .character:last-child {
    padding-right: 5px;
}

.msgRef {
    justify-content: flex-end;
}

main {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.inputCt {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    width: 100%;
}

.popup-header {
    border-bottom: 1px solid rgba(var(--border-color), 0.3);
    width: 100%;
    text-align: left;
    font-weight: 550;
    padding: 9px 14px 9px 22px;
    font-size: 1.1em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.popup-header .sideButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.popup-header .sideButtons button {
    padding: 6px;
    width: 42px;
    height: 42px;
    background: none;
}

.popup-header .sideButtons button:hover {
    background: #F4F6FB;
}

.popup-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    gap: 15px;
    width: 100%;
    border-top: 1px solid rgba(var(--border-color), 0.3);
}

.popup-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 22px;
    gap: 24px;
}

.character.correct {
    background: #D4FFE5;
    color: #398B64;
}

.character.incorrectChar {
    background: #FFE9EC;
    color: #AB0F34;
}

.character.active {
    background: #E7F5FF;
    flex-direction: column;
    position: relative;
    margin-left: 10px;
    padding-inline: 7px;
    border-radius: 7px;
    color: #1A5BA8;
}

.character.active::after {
    content: '';
    position: absolute;
    bottom: 4px;
    width: 60%;
    left: 50%;
    height: 2.8px;
    background: rgb(0, 117, 224, .3);
    animation: blink .9s infinite;
    transform: translateX(-50%);
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#playerNameOp {
    border: none;
    font-size: 1.2em;
    font-weight: 500;
    padding: 7px;
    background: none;
    border-radius: 5px;
    transition: .2s;
}

#playerNameOp:hover {
    box-shadow: 0 7px 20px -4px rgba(100, 100, 100, .16);
    background: #ffffff88;
    transition: .2s;
    width: 300px;
    text-overflow: ellipsis;
}

#playerNameOp:focus {
    border-bottom: 3px solid var(--accent);
    border-radius: 5px 5px 3px 3px;
    box-shadow: 0 7px 20px -4px rgba(100, 100, 100, .25);
    background: #ffffff88;
    transition: .2s;
    width: 300px;
    text-overflow: ellipsis;
}

.nameArea {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.restart {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    border-radius: 5px;
    border: none;
    background: none;
}

.restart:hover {
    background: rgba(0, 0, 0, .0373);
}

.main {
    display: flex;
    gap: 50px;
    background: #f9fbfd;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 30px 50px;
    height: 100%;
    animation: popup .4s linear;
}

@keyframes popup {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
}

.main>[class*=meta-] {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main>.meta-1 {
    width: 500px !important;
    gap: 10px;
}

.main>#completion {
    width: 380px !important;
}

.completionOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.graphset {
    width: 100%;
    height: 100%;
}

.graph {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    --size: 100%;
}

.graph .graph-content {
    position: absolute;
    top: 0%;
    left: 0%;
    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 7px;
    z-index: 2;
}

.graph svg {
    width: var(--size);
    height: var(--size);
    position: absolute;
    top: 0;
    left: 0;
}

.graph #chart-score {
    transition: stroke-dashoffset 1s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    animation: prog .8s ease-in-out;
}

.graph-content .score {
    font-size: 3em;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.graph-content .subscore {
    font-size: 1.3em;
}

@keyframes prog {
    from {
        stroke-dashoffset: 1024;
    }
}

.completeTHeading {
    width: 100%;
    text-align: center;
    font-weight: 600;
}

.green {
    color: #56FE99;
}

.red {
    color: #f93562;
}

.graph svg {
    color: #56FE99;
}

.graph svg.low {
    color: #ff496c !important;
}

.toolbar {
    list-style-type: none;
    margin: 0;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    padding: 0;
    padding-left: 5px;
}

.toolbarItem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.toolbarItem button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    border-radius: 7px;
    width: 42px;
    height: 42px;
    padding: 6px;
    color: inherit;
}

.toolbarItem button svg {
    width: 24px;
    height: 24px;
}

.toolbarItem button:hover {
    background: rgba(var(--border-color), 0.25);
}

.toolbarItem button.active {
    background: var(--accent);
    color: #fff;
}

#completion .imgGroup img {
    width: 100%;
    border-radius: 10px;
    transition: .3s;
    box-shadow: 0 10px 20px rgba(118, 125, 131, 0.4);
}

#completion .imgGroup {
    border-radius: 6px;
    position: relative;
    display: flex;
}

#completion .imgGroup caption {
    position: absolute;
    margin: 5px;
    left: 0;
    bottom: 0;
    color: #fff;
    padding: 10px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background: #00000077;
    font-size: 13px;
    backdrop-filter: blur(5px);
    transition: .3s;
}

#completion h2 {
    margin-bottom: 0;
    font-weight: 600;
}

#completion .imgGroup img:hover {
    transform: scale(1.5) translate(50px, -50px);
    transition: .3s;
    bottom: 10px;
    border-radius: 5px;
    z-index: 99;
}

#completion .imgGroup img:hover+caption {
    opacity: 0;
    transition: .2s;
    z-index: 100;
}

#completion p {
    overflow-y: auto;
    font-size: 15px;
}

.meta-1 .playAgain {
    position: absolute;
    bottom: 0;
    right: 0;
    color: var(--accent);
    text-decoration: none;
    margin: 20px;
    transition: .15s;
}

.meta-1 .playAgain:hover {
    opacity: .6;
    transition: .15s;
}

.meta-1 {
    position: relative;
}

input {
    color: inherit;
}



footer {
    border-top: 1px solid rgba(var(--border-color), 0.4);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    gap: 10px;
    height: 100%;
    width: 100%;
    margin: 0;
}

footer>ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    margin: 0;
    list-style-type: none;
}

footer .footerLink {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    gap: 3px;
    border-radius: 7px;
    transition: .15s;
}

footer .footerLink:hover {
    background: rgba(var(--border-color), 0.4);
    transition: .15s;
}

.btn-primary {
    color: #fff;
    background: var(--accent);
}

.btn-primary:hover {
    color: #fff;
    background: var(--accent-text);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover,
a:active {
    color: inherit;
}

.popup {
    animation: popupIn .3s;
}

@keyframes popupIn {
    from {
        opacity: 0;
        transform: scale(.8);
    }
}

.panel {
    position: absolute;
    right: 0;
    top: 0;
    background: #fff;
    height: 100%;
    width: 40%;
    border-left: 1px solid rgba(var(--border-color), 0.4);
    box-shadow: -10px 0px 60px rgba(var(--border-color), 0.5);
    max-width: 500px;
    min-width: 400px;
    z-index: 50;
}

.panel-ct {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .5);
}

main {
    position: relative;
}

.panelView {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    height: 100%;
}

.panel .graph.score {
    width: 350px;
}

.panel .scoreGroup {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scoreGroup .graphset {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.panel .panelTitle {
    font-size: 1.6em;
    font-weight: 550;
    text-align: left;
}

.panelView {
    padding: 30px;
}

.graph .graph-content {
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(var(--border-color), 0.7);
    border-radius: 50%;
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.graph.score {
    position: relative;
}

.graph svg circle {
    stroke-linecap: round;
    width: 100%;
    height: 100%;
}

.panel .group.verseDescription {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.verseDescription img {}

.panelView {
    max-height: 100%;
    overflow-y: auto;
}

.verseTextGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.panel .panel-heading {
    font-size: 1.3em;
    font-weight: 550;
    display: block;
}

.verseTextGroup p {
    margin: 0;
    line-height: 150%;
}

main .top-notice .notice-main {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f3f7fa;
    width: 100%;
    padding: 15px 20px;
    font-size: 1.03em;
    color: #333c43;
    margin-inline: 15px;
    border-radius: 10px;
    transition: .2s;
}

main .top-notice {
    padding-inline: 30px;
    width: 100%;
}

.top-notice .notice-main:hover {
    transition: .2s;
    background: rgb(233, 239, 242);
}

#completion .finalPlayControls {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.finalPlayControls button {
    width: 100%;
    cursor: pointer;
}

.panel-ct {
    animation: panelCt .3s ease-in-out;
    overflow-x: hidden;
}

.panel {
    animation: panel .3s;
}

@keyframes panelCt {
    from {
        opacity: 0;
    }
}

@keyframes panel {
    from {
        transform: translateX(50px);
    }
}

#completion .testStats {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

#completion .testStats .statCell {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    text-align: center;
    width: 100%;
}

.statCell .cellKey {
    font-size: 13px;
    text-transform: uppercase;
    color: var(--subtitle);
}

.statCell .cellVal {
    font-weight: 500;
    font-size: 24px;
}

.testStats .divider {
    height: 60%;
    width: 1px;
    background: rgba(var(--border-color), 0.4);
}

.statCell#incChars .cellVal {
    color: var(--text-red);
}

.addToJournalBtn {
    width: fit-content;
    padding-inline: 14px;
    max-width: 100%;
}

.hr {
    background: rgba(var(--border-color), 0.4);
    width: 100%;
    margin-block: 3px;
    height: 1px;
    flex-shrink: 0;
}

.vDivider {
    height: 60%;
    width: 1px;
    background: rgba(var(--border-color), 0.4);
}

.panelGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.panelGroupTitle {
    font-size: 1.3em;
    font-weight: 550;
}

.columnView {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    width: 100%;
    margin-block: 8px;
}

.columnView .columnViewItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-inline: 10px;
    text-align: center;
    gap: 10px;
}

.lgColumnKey {
    color: var(--subtitle);
    font-size: 1em;
}

.lgColumnValue {
    font-size: 1.5em;
    font-weight: 500;
}

.inlineTableView {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.inlineTableRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 7px;
}

#stats .inlineTableLeft {
    font-size: 15px;
}

#stats .inlineTableRight {
    font-size: 16px;
    font-weight: 500;
}

.subDesc {
    color: var(--subtitle);
}

.table {
    width: 100%;
    gap: 8px;
    font-size: 15px;
}

tr {
    width: 100%;
}

td,
th {
    padding: 12px 8px;
    font-size: inherit;
}

th {
    font-weight: 500;
    font-size: 16px;
    text-align: left;
}

.compactActionBtn {
    display: inline-flex;
    gap: 8px;
    padding: 4px;
    height: auto;
    color: #000;
    background: none;
}

.compactActionBtn svg {
    display: flex;
}

.flex-cell {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.gradeTable th {
    padding-block: 3px;
}

.fallbackGradeText,
.fallbackTKText {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

* {
    line-height: 140%;
}

.troubleKeyChart {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    gap: 10px;
    /** chart height */
    height: 140px;
    padding-block: 10px;
}

.tkChartCol {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    gap: 10px;
    align-items: center;
    height: 100%;
    max-width: 90px;
}

.tkChartSymbol {
    width: 100%;
    color: #fff;
    background: var(--red);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: 500;
    padding-top: 5px;
    transition: .2s;
}

.tkChartCaption {
    font-weight: 500;
    font-size: 1.12em;
    color: var(--text-red);
}

button svg {
    width: 22px;
    height: 22px;
    flex-shrink: 0;
}

.hidden {
    display: none;
}

.invisible {
    opacity: 0;
}

.text-green {
    color: var(--text-green);
}

.setting {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    padding-block: 9px;
}

.setting:not(.vertical) {
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.settingTitle {
    font-size: 15px;
    font-weight: 500;
}

.settingDescription {
    color: var(--subtitle);
    font-size: 14px;
}

.textGroup {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.toggleSwitch {
    width: 40px;
    border-radius: 30px;
    background: #F7F8FD;
    height: 24px;
    flex-shrink: 0;
    position: relative;
    transition: .2s;
}

.toggleSwitch::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background: #D1D2D6;
    border-radius: 50%;
    left: 5px;
    transition: left .2s;
}

.toggleSwitch:hover::after {
    width: 14px;
    height: 14px;
    transition: .2s;
}

.toggleSwitch.on:after {
    left: calc(100% - 12px - 5px);
    background: #fff;
}

.toggleSwitch.on {
    background: var(--accent);
}

body {
    color: #242527;
}

.btn-dangerous {
    color: #fff;
    background: var(--red);
}

.btn-dangerous:hover {
    background: var(--text-red);
}

.accentColorSelectionCt {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.accentColorCircle {
    appearance: none;
    -webkit-appearance: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 0;
    cursor: pointer;
    position: relative;
    align-items: center;
    justify-content: center;
}

.accentColorCircle:checked::after {
    content: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.8333 4.66333L6.99044 12.5062L2.5 8.01578' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    width: 17px;
    height: 17px;
    flex-shrink: 0;
    animation: checkMark .2s;
}

@keyframes checkMark {
    from {
        transform: scale(.2);
        opacity: .2;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.touchKeyboardBtn {
    background: rgb(44, 52, 62);
    color: #fff;
    padding: 16px;
    height: initial;
    font-size: 1em;
    border-radius: 15px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 60px;
    box-shadow: 0 6px 20px rgba(118, 125, 131, 0.1);
    overflow: hidden;
    cursor: pointer;
}

.touchKeyboardBtn:hover {
    background: rgb(29, 34, 40);
    padding: 17px 20px;
}

.touchKeyboardBtn:hover .tkLabel {
    display: flex;
    animation: tkLabel .2s ease-in-out;
}

.touchKeyboardBtn:hover .tkIcn {
    width: 26px;
    height: 26px;
    transition: .2s;
}

.touchKeyboardBtn .tkIcn {
    width: 28px;
    height: 28px;
}

.tkLabel {
    display: none;
    text-overflow: clip;
    white-space: nowrap;
}

@keyframes tkLabel {
    0% {
        max-width: 10px;
    }

    99% {
        max-width: 150px;
    }

    100% {
        max-width: none;
    }
}

body.dark .btn {
    color: #D3DAE5;
}
body.dark .statTag.time {
    --bg-color: #9BBDFF;
    --fg-color: #20324B;
}
body.dark .statTag.incorrect {
    --bg-color: #FF9BB3;
    --fg-color: #4B2028;
}